.circle-chart{
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 24px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  &__left{
    width: 60%;

    &__bottom{
        display: flex;
      div{
        margin-left: 11px;
        display: flex;
        align-items: center;
        span{
          margin-left: 4px;
          border-radius: 8px;
          padding: 2px 7px;
          font-size: 10px;
          color: #fff;
        }
      }
      h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;
        display: flex;
        align-items: center;
      }
    }
    h3{
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-top: 5px;
    }
    p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      display: flex;
      align-items: flex-start;
      color: #000000;
      opacity: 0.3;
      height: 36px;
    }
  }
  &__right{
    width: 37%;
    display: flex;
    align-items: flex-end;
  }
}
.simple-progress{
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 24px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  &__item{
    margin-bottom: 15px;
    .item-progress{
      height: 12px;
      color: #8D7CC1;
      background-color: rgba(141, 124, 193, 0.3);
      .progress-bar{
        background-color: #8D7CC1;
      }
    }
    h4{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      letter-spacing: -0.05em;
      color: #000000;
    }
  }
  h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    color: #000000;
  }

}
.vertical-chart{
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 24px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  .v-chart{
    width: 100%;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
    }
    .select-hafta{
      background: #F8F8F8;
      border-radius: 3px;
      border: none;
      outline: none;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      padding: 3px 5px;
      color: rgba(0,0,0,0.6);
    }
  }
}
.chart{
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 24px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  &__header{
    display: flex;
    align-items: center;
    h3{
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      margin-left: 13px;
    }
  }
  &__item{
    width: 95px;
    height: 95px;
  }
  &__info{
    margin-top: 20px;
    &__item{
      p{
        margin-bottom: 2px;
      }
    }
  }
}
